@model HATC_CapstoneProject.Models.Session

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Session</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InGameDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InGameDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DowntimeReward)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DowntimeReward)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
