@*@model HATC_CapstoneProject.Models.Achievement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Achievement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHidden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHidden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Benefit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Benefit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Criteria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Criteria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Progress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Progress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@