@model IEnumerable<HATC_CapstoneProject.Models.Downtime>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Player> signInManager

@{
	ViewData["Title"] = "Index";
}

<h1>Downtime Activities</h1>


<div class="d-flex align-items-start">
	<div class="nav flex-column nav-pills me-3 bg-light hatc-blue" id="downtime-tab" role="tablist" aria-orientation="vertical">
		@foreach (var item in Model)
		{
			<button class="nav-link" id="downtime-tab-@item.Name.Replace(" ","")" data-bs-toggle="pill" href="#downtime-info-@item.Name.Replace(" ","")" type="button" role="tab" aria-controls="v-pills-home" aria-selected="false">
				@item.Name
			</button>
		}
		<div class="align-bottom mx-auto d-flex">
			@if (signInManager.IsSignedIn(User) && User.IsInRole("DM"))
			{
				<a asp-action="Create" class="btn btn-success rounded">
					Add a Downtime
				</a>
			}
		</div>
	</div>
	<div class="tab-content col-lg-10" id="v-pills-tabContent">

		@foreach (var item in Model)
		{
			<div class="tab-pane fade" id="downtime-info-@item.Name.Replace(" ","")" role="tabpanel" aria-labelledby="downtime-tab-@item.Name.Replace(" ","")">

				@if (item.Achievements != null && item.Achievements.Any())
				{
					bool showAchievements = false;
					foreach (Achievement achievement in item.Achievements)
					{
						if (!achievement.IsHidden && achievement.IsUnlocked)
						{
							showAchievements = true;
						}
					}
					if (showAchievements)
					{
						<table class="table table-striped table-hover">
							<thead>
								<th>
									Achievement Benefits
								</th>
							</thead>
							<tbody>
								@foreach (var downtimeInfo in @item.Achievements)
								{
									if (downtimeInfo.IsUnlocked && !downtimeInfo.IsHidden)
									{
										<tr>
											<td class="fw-bold">
												@downtimeInfo.Name
											</td>
											<td>
												@downtimeInfo.Benefit
											</td>
										</tr>
									}
								}
							</tbody>
						</table>
						<br />
					}
				}

				<table class="table table-striped table-hover">
					<thead>
					<th>
						Resources
					</th>
					</thead>
					<tbody>

						@if (item.Resources != null && item.Resources.Any())
						{
							@foreach (var downtimeInfo in @item.Resources)
							{
								<tr>
									<td>
										@downtimeInfo.Item
									</td>
								</tr>
							}
						}
					</tbody>

				</table>
				<br />
				<table class="table table-striped table-hover">
					<thead>
					<th>
						Resolution
					</th>
					</thead>
					<tbody>
						@if (item.Resolution != null && item.Resolution.Any())
						{
							@foreach (var downtimeInfo in @item.Resolution)
							{
								<tr>
									<td>
										@downtimeInfo.Item
									</td>
								</tr>
							}
						}
					</tbody>

				</table>
				<br />
				@{
					List<DowntimeTable> tableComp = new List<DowntimeTable>();
					List<DowntimeTable> tableNonComp = new List<DowntimeTable>();
					if (item.Tables != null && item.Tables.Any())
					{
						if (signInManager.IsSignedIn(User) && User.IsInRole("DM"))
						{
							tableComp = item.Tables.Where(table => table.IsComplication).ToList();

						}
						tableNonComp = item.Tables.Where(table => !table.IsComplication).ToList();
					}

				}
				@if (tableNonComp.Any())
				{
					foreach (var t in tableNonComp)
					{
						<h3 class="fw-bolder col-12 mx-auto">@t.Name</h3>
						<table class="table table-striped table-hover">
							@{
								bool headCheck = false;
							}
							@foreach (DowntimeTableRow outer in t.Table)
							{
								outer.Row = outer.Row.OrderBy(Item => Item.Index);
								@if (t.HasHead && !headCheck)
								{
									headCheck = true;
									<thead class="thead-light">
										<tr>
											@foreach (TableListItem inner in outer.Row)
											{
												<th>
													@inner.Item
												</th>
											}
										</tr>
									</thead>
								}
								else
								{
									<tr>
										@foreach (TableListItem inner in outer.Row)
										{
											<td>
												@inner.Item
											</td>
										}
									</tr>
								}
							}

						</table>
					}
				}
				@if (tableComp.Any())
				{
					@foreach (var t in tableComp)
					{
						<h3 class="fw-bolder col-12 mx-auto">@t.Name</h3>
						<table class="table table-info table-striped table-hover">
							@{
								bool headCheck = false;
							}
							@foreach (DowntimeTableRow outer in t.Table)
							{
								outer.Row = outer.Row.OrderBy(Item => Item.Index);
								@if (t.HasHead && !headCheck)
								{
									headCheck = true;
									<thead class="thead-info">
										<tr>
											@foreach (TableListItem inner in outer.Row)
											{

												<th>
													@inner.Item
												</th>
											}
										</tr>
									</thead>
								}
								else
								{
									<tr>
										@foreach (TableListItem inner in outer.Row)
										{
											<td>
												@inner.Item
											</td>
										}
									</tr>
								}
							}

						</table>
					}
				}
				<div>
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary rounded float-end">
						Edit
					</a>
				</div>
			</div>

		}
	</div>
</div>


@*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
@Html.DisplayFor(modelItem => item.Status)*@