@model HATC_CapstoneProject.Models.Character

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Downtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Downtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isRetired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isRetired)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
